body {
    background-color: #a7cee9;
    font-family:'Gill Sans', 'Gill Sans MT', sans-serif;
}

h1 {
    text-align: center;
    font-size : 45px;
}

h2 {
    font-size: 27px;
}

p, li {
    font-size: 18px;
}

a {
    color: #000;
}

div {
    background-color:#bed9ed;
    padding: 50px;
    margin: 50px 500px;
}

.pancake, .chili, .falafel {
    width: 400px;
    height: 400px;
}